body{
    background-color: rgb(6, 26, 139);
    color: rgb(248, 247, 247);

}
.container{background-color: rgb(27, 29, 28);}
#gomb{
    text-align: center;

}
nav a{
 font-family: American Typewriter, serif;
}
#Intro{
    
}

#Cubes{
    width: 100%;
    text-align: center;
    height: 100%;
    padding-left: 25px;
}
li {list-style-image: none;}
#Cubes .col {
    text-align: center;
    margin-bottom: 50px;
}

#Cubes .col h2 {
    display: inline-block;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
}

 #c1 {
    background-color: #3498db;
    color: #fff;
}
nav, .navbar-brand{font-size: x-large;}
#c2 {
    background-color: #e74c3c;
    color: #fff;
}

#c3 {
    background-color: #2ecc71;
    color: #fff;
}

#c4 {
    background-color: #f39c12;
    color: #fff;
}
.p3{font-weight: bolder;}
#BGL{
    background:   url(BGlogo2.PNG);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    height: 600px;
    min-height: max-content;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
   text-align: justify;
   align-items: center;
   overflow: hidden;
   
}
#Mathiasz p{
    font-size: 25px;
}
a{color: white;}
hr{color: #08aa23; height: 3px;}

#BGL button{align-items: center; width: 25%; }
#footer-logo{margin-left: 25%; margin-right: 35%; max-width: 70%; margin-bottom: 20px;}
#logo,
#footer-logo{

   background-size: cover;
   background-position: center;
  align-items: center;
  overflow: hidden;
}
.mx-auto i{ 
    width: 40px;
    height: 40px;
  color: white;  
  display: inline-block;
  color: white;
  padding: 10px 12px;
  font-size: 30px;
}
#fot a{
 color: rgb(250, 242, 242);
}

#Cubes{
   
    color: white;
   
}
#logo,
#footer-logo{

   background-size: cover;
   background-position: center;
  align-items: center;
  overflow: hidden;
}
footer{background-color: rgb(19, 14, 14); color: white;}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
}
#Celok i{
    background-color: white;
    width: 80px;
    height: 80px;
    display: contents;
    color: rgb(28, 41, 214);
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Celok h2,h4{font-weight: bolder; margin-top: 30px; margin-bottom: 20px;}
#Tab {
    color: rgb(16, 245, 16);
    background-color: rgb(95, 84, 84);
}